# Jinja template
---
- name: eBGP configuration
  hosts: clab
  gather_facts: false
  tasks:
    - name: Set protocol eBGP - {{ node }}
      nokia.srlinux.config:
        update:
          - path: /network-instance[name=default]/protocols/bgp
            value:
              admin-state: enable
              autonomous-system: {{ ebgp['autonomous-system'] }}
              router-id: {{ ebgp['router-id'] }}
              group:
                - group-name: eBGP-underlay
                  admin-state: enable
                  export-policy: all
                  import-policy: all
                  #peer-as: {{ ebgp['peer-as'] }}
                  ipv4-unicast:
                    admin-state: enable
                {% for neighbor in neighbors %}
                neighbor:
                  - admin-state: enable
                    peer-address: {{ neighbor['peer-address'] }}
                    peer-as: {{ neighbor['peer-as'] }}
                    peer-group: eBGP-underlay
                    {% endfor %}
                    
      register: set_response_ebgp

    - debug:
        var: set_response_ebgp
    
    - name: Set routing policy - {{ node }}
      nokia.srlinux.config:
        update:
          - path: /routing-policy/policy[name=all]
            value:
              default-action:
                policy-result: accept

      register: set_response

    - debug:
        var: set_response