# Jinja template
---
- name: Add interface
  hosts: {{ host_name }}
  gather_facts: false
  tasks:
    {% for interface in interfaces %}
    - name: Set p2p interface configuration - {{ node }}
      nokia.srlinux.config:
        update:
          - path: /interface[name={{ interface['interface-name'] }}]
            value:
              admin-state: enable
              description: "interface description set with Ansible"
          - path: /interface[name={{ interface['interface-name'] }}]/subinterface[index=0]
            value:
              admin-state: enable
              description: "subinterface description set with Ansible"
          - path: /interface[name={{ interface['interface-name'] }}]/subinterface[index=0]/ipv4/address[ip-prefix={{ interface['ip-address-p2p'] }}]

      register: set_response_p2p_{{ loop.index }}

    - debug:
        var: set_response_p2p_{{ loop.index }}
    {% endfor %}
    - name: Set loopback interface configuration - {{ node }}
      nokia.srlinux.config:
        update:
          - path: /interface[name=system0]
            value:
              admin-state: enable
              description: "interface description set with Ansible"
          - path: /interface[name=system0]/subinterface[index=0]
            value:
              admin-state: enable
              description: "subinterface description set with Ansible"
          - path: /interface[name=system0]/subinterface[index=0]/ipv4/address[ip-prefix={{ ip_address_loopback }}]

      register: set_response_loopback

    - debug:
        var: set_response_loopback