# Jinja template
---
- name: Add interface
  hosts: clab
  gather_facts: false
  tasks:
    {% for interface in interfaces %}
    - name: Set p2p interface configuration - {{ interface['node'] }}
      nokia.srlinux.config:
        update:
          - path: /interface[name="{{ interface['interface-name'] }}"]
            value:
              admin-state: enable
              description: "interface description set with Ansible"
              subinterface:
                - index: 0
                  admin-state: enable
                  description: "subinterface description set with Ansible"
                  ipv4:
                    admin-state: enable
                    address:
                      - ip-prefix: "{{ interface['ip-address-p2p'] }}"

      register: set_response_p2p_{{ loop.index }}

    - debug:
        var: set_response_p2p_{{ loop.index }}

    - name: Set loopback interface configuration - {{ interface['node'] }}
      nokia.srlinux.config:
        update:
          - path: /interface[name=system0]
            value:
              admin-state: enable
              description: "interface description set with Ansible"
              subinterface:
                - index: 0
                  admin-state: enable
                  description: "subinterface description set with Ansible"
                  ipv4:
                    admin-state: enable
                    address:
                      - ip-prefix: "{{ interface['ip-address-loopback'] }}"

      register: set_response_loopback_{{ loop.index }}

    - debug:
        var: set_response_loopback_{{ loop.index }}
    {% endfor %}