# Jinja template
---
- name: iBGP configuration
  hosts: {{ host_name }}
  gather_facts: false
  tasks:
    - name: Set routing policy - {{ node }}
      nokia.srlinux.config:
        update:
          - path: /routing-policy/policy[name=all]/default-action
            value:
              policy-result: accept

      register: set_response_routing_policy_ibgp

    - debug:
        var: set_response_routing_policy_ibgp
    
    - name: Set protocol iBGP - {{ node }}
      nokia.srlinux.config:
        update:
          - path: /network-instance[name=default]/protocols/bgp/group[group-name=iBGP-overlay]
            value:
              admin-state: enable
              export-policy: all
              import-policy: all
          - path: /network-instance[name=default]/protocols/bgp/group[group-name=iBGP-overlay]/afi-safi[afi-safi-name=ipv4-unicast]
            value:
              admin-state: disable
          - path: /network-instance[name=default]/protocols/bgp/group[group-name=iBGP-overlay]/afi-safi[afi-safi-name=evpn]
            value:
              admin-state: enable
          - path: /network-instance[name=default]/protocols/bgp/group[group-name=iBGP-overlay]/local-as
            value:
              as-number: {{ ibgp['as-number'] }}
          {% if route_reflector %}
          - path: /network-instance[name=default]/protocols/bgp/group[group-name=iBGP-overlay]/route-reflector
            value:
              client: true
              cluster-id: 2.2.2.2
          {% endif %}
          {% for neighbor in neighbors %}
          - path: /network-instance[name=default]/protocols/bgp/neighbor[peer-address={{ neighbor['peer-address'] }}] 
            value:
              admin-state: enable
              peer-as: {{ neighbor['peer-as'] }}
              peer-group: iBGP-overlay
          - path: /network-instance[name=default]/protocols/bgp/neighbor[peer-address={{ neighbor['peer-address'] }}]/transport
            value:
              local-address: {{ neighbor['local-address'] }}
          {% endfor %}
      register: set_response_ibgp

    - debug:
        var: set_response_ibgp